@inherits BaseComponent
@using System.IO.Ports
@using LivingThing.Core.Frameworks.Common.Data
@using LivingThing.Core.Frameworks.Common.String

<EditForm Model="this" class="pd-3 bg-card flex">
    <select class="mgl bd pd-2" @bind-value="Service.State.Protocol"
            @bind-value:after="ServiceSaveState"
            @bind-value:event="onchange">
        @foreach (var sim in Service.PumpSimulators)
        {
            <option value="@sim.Key">@sim.Key</option>
        }
    </select>
    <select class="mgl bd pd-2" @bind-value="Service.State.Port"
            @bind-value:after="ServiceSaveState"
            @bind-value:event="onchange">
        @foreach (var port in Service.Port.PortNames)
        {
            <option value="@port">@port</option>
        }
    </select>
    <select class="mgl bd pd-2" @bind-value="Service.State.BaudRate"
            @bind-value:after="ServiceSaveState"
            @bind-value:event="onchange">
        <option value="300">300</option>
        <option value="600">600</option>
        <option value="1200">1200</option>
        <option value="2400">2400</option>
        <option value="4800">4800</option>
        <option value="9600">9600</option>
        <option value="19200">19200</option>
        <option value="38400">38400</option>
        <option value="76800">76800</option>
        <option value="115200">115200</option>
        <option value="153600">153600</option>
        <option value="307200">307200</option>
        <option value="460800">460800</option>
        <option value="614400">614400</option>
    </select>
    <button class="bg-primary mgl pd-2" @onclick="Service.Port.ToggleConnect">@(Service.Port.IsConnected ? "Disconnect" : "Connect")</button>
    <div class="fill"></div>
    <button class="bg-error mgl pd-2" @onclick="ResetPumpStore">Reset Pumps</button>
    <button class="bg-error mgl pd-2" @onclick="ResetTankStore">Reset Tanks</button>
</EditForm>

@if (!loaded)
{
    <LivingThing.Core.Frameworks.Client.Components.Loading.Loading></LivingThing.Core.Frameworks.Client.Components.Loading.Loading>
}
else
{
    <div class="pd">
        <div class="container">
            <div class="row responsive">
                <div class="col-7 miwx-6">
                    <Pumps @ref="pumps"></Pumps>
                </div>
                <div class="col-3 miwx-2">
                    <Tanks @ref="tanks"></Tanks>
                </div>
            </div>
        </div>
    </div>
}

<LivingThing.Core.Frameworks.Client.Components.Utility.StaticComponents></LivingThing.Core.Frameworks.Client.Components.Utility.StaticComponents>